/* .hero-packages {
  width: auto;
}

.hero-packages .hero-packages-img {
  height: 460px;
  background: url(/img/travel-packages/japan-bg-hero-desktop.png) no-repeat;
  background-size: cover;
  background-position: -507px;
}

.hero-packages .section-title h2 {
  font-size: 48px;
  margin: 65px 24px;
} */
